<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Eliminar cerdito</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                Atención, esta a punto de borrar un chanchito
            </div>

            <div class="body-alert-delete-user">
                <div class="row">
                    <h5>El cerdito con registro <strong>1152705784</strong></h5>
                </div>
                <div class="row">
                    <h4>y de raza: <strong>HAMP</strong> sera elimínado </h4>
                </div>

                <div class="alert-question-delete">
                    <p>¿Estas seguro?</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-cancel-action" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-delete-user">ELIMINAR</button>
        </div>
    </div>
</div>