<table class="table caption-top">
    <caption>Nuestros clientes</caption>
    
    <thead>
        <tr>
            <th scope="col">N.</th>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellido(s)</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let users of comprador ; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{users.name}}</td> 
            <td>{{users.lastName}}</td> 
            <td>{{users.adress}}</td> 
            <td>
                <div class="btns-crud">
                    <button class="btn btn-delete" type="button" data-bs-toggle="modal" 
                        data-bs-target="#staticBackdrop">
                        <img src="assets/images/borrar.png" class="icon-crud">
                    </button>
                        <app-form-delete-user (refrescar) = "verData()" #borrar [cedula] = "users.id" [nombres] = "users.name" [apellidos] = "users.lastName"></app-form-delete-user>

                    <button class="btn btn-edit" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropedit">
                        <img src="assets/images/editar.png" class="icon-crud">
                    </button>
                    <div class="modal fade" id="staticBackdropedit" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <app-form-update-user></app-form-update-user>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>
</table>


