.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  background-color: pink;
  border-radius: 30px;
  font-size: 100%;
  font-weight: bolder;
  text-align: left;
  padding-inline-start: 25px;
  width: 100%;
  font-family: "Circular-Loom";
  margin-inline-end: 10px;
}

.nav-pills .nav-link {
  border: 0;
  background: white;
  border-radius: 30px;
  margin-block-start: 16px;
  border-bottom: 1px solid darkgray;
  width: 100%;
  text-align: left;
  padding-inline-start: 25px;
  font-family: "Circular-Loom";
}

.box-title-pig {
    padding: 3% 0% 1%;
    width: 50%;
    text-align: left;
    border-bottom: 1px solid lightgray;
    margin-block-end: 16px;
    margin-block-start: 2px;
  }
  
  .box-title-pig h1 {
    padding: 0%;
    font-family: "Londrina Solid";
    font-size: 189%;
  }