<div class="box-body-item-pig container">
    <div class="box-title-pig">
        <h1>Los chanchitos</h1>
    </div>

    <div class="body-item-pig">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home-pig" type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">Registrar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-consult-pig" type="button" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Consultar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-contact" type="button" role="tab"
                    aria-controls="pills-contact" aria-selected="false">Facturas/informes</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home-pig" role="tabpanel"
                aria-labelledby="pills-home-tab">
                <app-form-register-pigs></app-form-register-pigs>
            </div>


            <div class="tab-pane fade" id="pills-consult-pig" role="tabpanel"
                aria-labelledby="pills-profile-tab">
                <app-form-table-pigs></app-form-table-pigs>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                aria-labelledby="pills-contact-tab">
                ...</div>
        </div>

    </div>




</div>