<footer class="box-footer">
    <div class="box-data">
        <div class="box-names">
            <label>Jasson Esteban Gualguan Guzman</label>
            <p>Programación distribuida y paralela</p>
            <h5>2021-1</h5>
        </div>
        <div class="box-names">
            <label>Anderson Daniel Vargas Martinez</label>
            <p>Programación distribuida y paralela</p>
            <h5>2021-1</h5>
        </div>
        <div class="box-info-university">
            <div class="box">
                <img src="assets/images/logo-negro.png" alt="logo-poli" class="img-logo">
            </div>
        </div>
    </div>

</footer>
