<table class="table caption-top">
    <caption>Nuestros clientes</caption>
    <thead>
        <tr>
            <th scope="col">N.</th>
            <th scope="col">Nombre(s)</th>
            <th scope="col">Apellido(s)</th>
            <th scope="col">ver cerdito</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let buyers of compradores ; let i = index ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{buyers.name}}</td>
            <td>{{buyers.lastName}}</td>
            <td *ngFor="let pig of buyers.pigs">
                <button type="button" class="btn btn-view-info-pig" data-bs-toggle="modal" data-bs-target="#exampleModalinfoPigUser">
                    ver info
                </button>
                <div class="modal fade" id="exampleModalinfoPigUser" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cerdito comprado</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{pig.id}} - {{pig.breed}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>




            </td>

        </tr>
    </tbody>
</table>



<!-- Button trigger modal -->

<!-- Modal -->





<div class="modal fade" id="staticBackdropdelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <app-form-delete-pigs></app-form-delete-pigs>
</div>


<div class="modal fade" id="staticBackdropeditpigs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <app-form-update-pigs></app-form-update-pigs>
</div>