<div class="box-title">
    <h1>Nuestros chanchitos</h1>
</div>
<div class="content-slider">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mb-3">
                    <img src="assets/images/york.jpg" class="d-block w-100 card-img-top" alt="img-pig-one-york">
                    <div class="card-body">
                        <img src="assets/images/cerdo.png" alt="logo" class="logo-company">
                        <h5 class="card-title">Cerdo - YORK</h5>
                        <p class="card-text">Este cerdito esta a la <strong>VENTA</strong></p>
                        <button class="btn-view-details" type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Ver detalles</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mb-3">
                    <img src="assets/images/hamp.png" class="d-block w-100 card-img-top" alt="img-pig-one-york">
                    <div class="card-body">
                        <img src="assets/images/cerdo.png" alt="logo" class="logo-company">
                        <h5 class="card-title">Cerdo - HAMP</h5>
                        <p class="card-text">Este cerdito esta a la <strong>VENTA</strong></p>
                        <button class="btn-view-details" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mb-3">
                    <img src="assets/images/duroc.png" class="d-block w-100 card-img-top" alt="img-pig-one-york">
                    <div class="card-body">
                        <img src="assets/images/cerdo.png" alt="logo" class="logo-company">
                        <h5 class="card-title">Cerdo - DUROC</h5>
                        <p class="card-text">Este cerdito esta a la <strong>VENTA</strong></p>
                        <button class="btn-view-details" type="button">Ver detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--Detalles del cerdito-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles del cerdito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-6">
                    <div class="box-img-pig">
                        <img src="assets/images/york.jpg" alt="cerdo-york" class="img-pig">
                    </div>
                </div>

                <div class="col-6">
                    <div class="box-info-pig">
                        <h1>cerdo a la venta</h1>

                        <div class="row">
                            <p>Raza: HAMP</p>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="box-items-pig">
                                    <label>Peso: 100kg</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box-items-pig">
                                    <label>Edad: 3 años</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="box-price-pig">
                                <h2>Precio: <strong>$230.788</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="box-info-food-pig">
                        <p>descripcion</p>

                        <label>dosis: cada 12 horas</label>
                    </div>


                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-buy-pig">COMPRAR</button>
        </div>
      </div>
    </div>
  </div> 