<div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Editar el cerdito <strong>HAMP</strong> - 5679012</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-update">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="row">
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>Raza</label>
                                <select class="form-data form-control" id="validationCustom01" required>
                                    <option selected disabled value="">Seleccione raza</option>
                                    <option value="YORK">YORK</option>
                                    <option value="HAMP">HAMP</option>
                                    <option value="DUROC">DUROC</option>
                                </select>
                                <div class="invalid-feedback">
                                    Por favor seleccione uno
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>N. identificación</label>
                                <input type="text" class="form-data form-control" placeholder="ingrese el numero de identificacion"
                                    id="validationCustom02" required />
                                <div class="invalid-feedback">
                                    No puedes dejar vacio este campo
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>edad</label>
                                <input type="text" class="form-data form-control" placeholder="edad del cerdito"
                                    id="validationCustom03" required />
                                <div class="invalid-feedback">
                                    No puedes dejar vacio este campo
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>peso</label>
                                <input type="text" class="form-data form-control" placeholder="Peso del cerdito"
                                    id="validationCustom04" required />
                                <div class="invalid-feedback">
                                    No puedes dejar vacio este campo
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>ID alimentación</label>
                                <input type="text" class="form-data form-control" placeholder="codigo de alimentación"
                                    id="validationCustom05" required />
                                <div class="invalid-feedback">
                                    No puedes dejar vacio este campo
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="box-item-form-user">
                                <label>ID comprador</label>
                                <input type="text" class="form-data " placeholder="codigo del comprador" />
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box-btn-submit">
                                <button type="submit" class="btn-new-client">ACTUALIZAR</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>