<div class="box-title-register">
    <h1>Nuevo cerdito</h1>
</div>
<div class="body-form">
    <form class="row g-3 needs-validation" novalidate>
        <div class="row">
            <div class="col-6">
                <div class="box-item-form-user">
                    <label>Raza</label>
                    <select class="form-data form-control" id="validationCustom01" name="RazaPig" [(ngModel)]="Pig.breed" id="RazaPig" #RazaPig required>
                        <option selected disabled value="">Seleccione raza</option>
                        <option value="YORK">YORK</option>
                        <option value="HAMP">HAMP</option>
                        <option value="DUROC">DUROC</option>
                    </select>
                    <div class="invalid-feedback">
                        Por favor seleccione uno
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box-item-form-user">
                    <label>edad</label>
                    <input type="text" class="form-data form-control" placeholder="edad del cerdito"
                        id="validationCustom02" name="agePig" [(ngModel)]="Pig.age" id="agePig" #agePig required/>
                    <div class="invalid-feedback">
                        No puedes dejar vacio este campo
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="box-item-form-user">
                    <label>peso</label>
                    <input type="text" class="form-data form-control" placeholder="Peso del cerdito"
                        id="validationCustom03" name="PesoPig" [(ngModel)]="Pig.weight" id="PesoPig" #PesoPig required/>
                    <div class="invalid-feedback">
                        No puedes dejar vacio este campo
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="box-title-food-pig">
                <h2>Alimentación</h2>
            </div>
            <div class="col-6"> 
                <div class="box-form-textarea">
                    <label>Dosis</label>
                <textarea class="textarea-dosis form-control" placeholder="Ingrese la dosis necesaria del cerdito" id="validationCustom04" #dosisPig [(ngModel)]="Food.dose" name="dosisPig"></textarea>
                <div class="invalid-feedback">
                    No puedes dejar vacio este campo
                </div>
                </div>
            </div>
            <div class="col-6">
                <div class="box-form-textarea">
                    <label>Descripción</label>
                    <textarea class="textarea-description form-control" placeholder="describa brevemente la alimentación" id="validationCustom05" #DescriptionFood [(ngModel)]="Food.description" name="descriptionPig"></textarea>
                    <div class="invalid-feedback">
                        No puedes dejar vacio este campo
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-title-food-pig">
                <h2>Comprador</h2>
            </div> 
            <div class="col-6"> 
                <div class="box-form-textarea">
                    <label>Cedula del comprador</label>
                    <input type="text" class="form-data form-control" placeholder="Ingrese la cedula del comprador"
                    id="validationCustom06" name="idComprador" [(ngModel)]="Pig.user.id" id="cedulaComprador" #cedulaComprador required/>
                    <div class="invalid-feedback">
                        No puedes dejar vacio este campo
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box-btn-submit">
                    <button type="submit" class="btn-new-client" (click)="Registerpig(RazaPig, agePig, PesoPig, dosisPig, DescriptionFood, cedulaComprador)">Registrar cerdito</button>
                </div>
            </div>
        </div>
    </form>
</div>