.body-form {
  padding: 4%;
  width: 100%;
  background: ghostwhite;
  border-radius: 11px;
  border: lightgray;
  margin-block-start: 33px;
}

.box-item-form-user {
  padding: 1%;
  width: 100%;
  margin-block-end: 10px;
  display: inline-block;
}

.box-item-form-user label {
  padding: 0%;
  font-family: "Circular-Loom";
  color: black;
  font-size: 101%;
}

.form-data {
  padding: 2%;
  width: 100%;
  margin-block-start: 12px;
  border-radius: 7px;
  color: black;
  background: white;
  font-family: "Circular-Loom";
  border: 1px solid lightgray;
  padding-inline-start: 4%;
}

.box-btn-submit {
  padding: 1%;
  width: 100%;
  text-align: center;
  margin-block-start: 17px;
}

.btn-new-client {
  padding: 1.5%;
  width: 44%;
  border-radius: 30px;
  background: lightpink;
  font-family: "Londrina Solid";
  font-size: 114%;
  border: 1px solid lightpink;
  cursor: pointer;
  color: black;
}

.box-title-item-user {
  padding: 3% 0% 1%;
  width: 50%;
  text-align: left;
  border-bottom: 1px solid lightgray;
  margin-block-end: 16px;
  margin-block-start: 2px;
}

.box-title-item-user h2 {
  padding: 0%;
  font-family: "Londrina Solid";
  font-size: 189%;
  color: gray;
}

.form-update {
  padding: 1%;
  width: 100%;
  margin-block-start: 20px;
}

.modal-header{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: lightpink;
    width: 100%;
    font-size: 100%;
    font-family: 'Londrina Solid';
}

.modal-title{
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 114%;
    color: black;
}

.modal-title strong{
    padding: 0%;
    font-size: 119%;
    margin-inline-start: 9px;
    text-decoration: underline;
    color: black;
}