<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Eliminar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-items-warning" role="alert" id="alertWarning">
          <h4 class="alert-heading">¡Atención!</h4>
          <p>Esta a punto de eliminar el usuario <strong>{{nombres}} {{apellidos}}</strong> </p>
          <p>con cedula <strong>{{cedula}}</strong></p>
          <hr>
          <p class="mb-0"><strong>¿Está seguro?</strong></p>
        </div>


        <div class="alert alert-success alert-successful-delete" role="alert" id="alertSuccess">
          <h4 class="alert-heading">Bien hecho!</h4>
          <p>Se eliminó el usuario correctamente de la base de datos, si deseas tenerlo de vuelta, debes volver a
            registrarlo en el formulario de registro de usuarios</p>
          <hr>
          <p class="mb-0">Si tenia cerditos comprados, esos registros tambien fueron borrados de la base de datos</p>
        </div>
      </div>
      <div class="modal-footer footer-one" id="footerInit">
        <button type="button" class="btn btn-cancel-action" data-bs-dismiss="modal" id="cancelActionDelete">Cancelar</button>
        <button type="button" class="btn btn-delete-user" (click)="eliminar()" id="btnDeleteUser">ELIMINAR</button>
        <button type="button" class="btn btn-accpet-user" data-bs-dismiss="modal" id="successfullDeleteUser" (click)="refreshData()">Aceptar</button>
      </div>

    </div>
  </div>
</div>