<div class="row">
    <div class="col-4">
        <div class="box-title-item">
            <h1>Hola EMBAJADOR</h1>
        </div>
        <div class="box-profile-user">
            <div class="box-img-user">
                <img src="assets/images/user.png" />
            </div>
            <div class="box-info-user">
                <h3>Jasson Esteban Gualguan Guzmán</h3>
            </div>
            <app-menu-admin></app-menu-admin>
 
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <app-users></app-users>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <app-pigs></app-pigs>
            </div>

            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <app-bills></app-bills>
            </div>

        </div>
    </div>
</div>