<div class="box-content">
    <div class="box-img">
        <img src="assets/images/marrano.png" class="img-pig">
    </div>

    <div class="box-welcome">
        <h1>Bienvenido</h1>

        <div class="box-form">
            <form class="needs-validation" novalidate>
                <div class="box-form-imput">
                    <img src="../../../assets/images/email.png" class="icon-form" />
                    <label>Correo electronico</label>
                    <input type="email" placeholder="ingrese su correo corporativo" class="form-imput form-control"
                        id="validationCustom010" required />
                    <div class="invalid-feedback">
                        Por favor ingresa un correo valido
                    </div>
                </div>
                <div class="box-form-imput">
                    <img src="../../../assets/images/pass.png" class="icon-form" />
                    <label>Contraseña</label>
                    <input type="password" placeholder="**********" class="form-imput form-control"
                        id="validationCustom020" required />
                    <div class="invalid-feedback">
                        Ingresa una contraseña valida
                    </div>
                </div>
                <div class="box-form-imput">
                    <button class="btn-login" type="submit" (click)="validateLogin()">Ingresar</button>
                </div>
            </form>

            <div class="box-forget-password">
                <a href="#"> ups, olvide mi contraseña</a>
            </div>

            <div class="box-new-user">
                <label>¿Quieres ser un distribuidor?, <a data-bs-toggle="modal" data-bs-target="#exampleModal">Crear una cuenta</a>
                </label>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <app-register-admin></app-register-admin>
        </div>

    </div>
</div>