<div class="box-content">
    <div class="box-img">
        <img src="assets/images/marrano.png" class="img-pig">
    </div>

    <div class="box-welcome">
        <h1>Bienvenido</h1>

        <div class="box-form">
            <form class="needs-validation" novalidate>
                <div class="box-form-imput">
                    <img src="../../../assets/images/client.png" class="icon-form" />
                    <label>Cédula</label>
                    <input type="text" placeholder="ingrese su cedula de ciudadania" class="form-imput form-control"
                        id="validationCustom010" required />
                    <div class="invalid-feedback">
                        Por favor ingresa un id valido
                    </div>
                </div>
                <div class="box-form-imput">
                    <button class="btn-login" type="submit" (click)="loginAdmin()">Ingresar</button>
                </div>
            </form>

            <div class="box-new-user">
                <label>¿Quieres ser un administrador?, <a data-bs-toggle="modal" data-bs-target="#exampleModal">Crear una cuenta</a>
                </label>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <app-register-admin></app-register-admin>
        </div>

    </div>
</div>